name: Publish Client

on:
  push

permissions:
  contents: write

jobs:
  build-web:
    name: Build web release
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          force_orphan: true
          cname: webpage.procyk.in
